/* Navbar */
.navbar-brand{
    font-family: Viga;
    font-size: 32px;
}
.nav-link{
    
    margin-right: 30px;
    font-family: 'Quicksand', sans-serif;
    font-weight: normal;
}

/* jumbotron */
.jumbotron{
        background-image: url(img/hero.svg);
        margin-top: -75px;
        height: 640px;
        background-size: cover;
        width:100%;
        background-position: auto;
        background-repeat:no-repeat; 
    }
    .jumbotron .display-4{
        color: #87BAFB;
        text-align: left;
        margin-top: 150px;
        font-weight: 200;
        font-size: 50px;
    }
.jumbotron .display-4 span{
    font-weight: 500;
}

/* utility */
section{
    min-height: 420px;

}

.tombol{
    font-family: 'Quicksand', sans-serif;
    border-radius: 40px;
    font-size: 16px;
}
html{
    scroll-behavior: smooth;
}

/* workingspace */
.judul-blog{
    font-family: Viga;
    font-size: 24px;
    color: #537D6F;
    padding-top: 20px;
    margin-bottom: 12px;
    
}
.deskripsi-blog{
    font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #537D6F;
    padding-top: 10px;
    padding-bottom: 20px;
}
.card-text{
    font-family: 'Quicksand', sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.text-muted{
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    padding-top: 5px;
}
.card-body h5{
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    color: #537D6F;
    font-weight: bold;
    padding: 12px;
    
}
.card-body p{
    font-family:'Quicksand', sans-serif !important;
     color: #537D6F !important; 
     font-size: 14px !important;
     font-weight: lighter !important;
}
.card-body .btn{
    color: #ffffff;
    font-weight: bold;
    border-radius: 50px;
    background: #7BAAE5;
    border: 0;
}
.btn:hover{
    background: #3f8ef0;
    border: 0;
}




.project{
    margin-top: 30px;
    text-align: center;
}
.project p{
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #537D6F;
    font-weight: 200;
    margin: 30px 0;

}
.project h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    color: #537D6F;
    font-weight: bold;
    margin: 30px 0;
}
.sosmed{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top:80px;
    padding-bottom: 50px;
  
   
}
.icons li{
position: relative;
list-style: none;
display: inline-flex;
margin: 20px 6px;
height: 70px;
width: 70px;
background:  #9EBAB7;
border-radius: 50%;
cursor: pointer;
box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
              -2px -2px 6px rgba(0, 0, 0, 0.8);

}
.icons li.active a{
color: #ffffff;
font-size: 25px;

}
.icons li.active:before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10px;
    width: 10px;
    background: #9EBAB7;
    border-radius: 50%;
    box-shadow: inset -1px -1px 3px rgba(228, 216, 123, 0.1),
                 inset 2px 2px 6px rgba(0, 0, 0, 0.8);

}
.icons li a{
    color: #ffffff;
    font-size: 27px;
    width: 100%;
    line-height: 70px;
    position: relative;
    z-index: 2;

}



/* end workingspace */









/* Dekstop Version */
@media (min-width: 992px) { 
    .navbar-brand, .nav-link{
        color: #537D6F !important ;
        
    }
    .nav-link{
        text-transform: uppercase;
        margin-right: 30px;
    }
    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #DFA067;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    .jumbotron{
        background-image: url(img/hero.svg);
        margin-top: -75px;
        height: 640px;
        background-size: cover;
        width:100%;
        background-position: auto;
        background-repeat:no-repeat; 
    }
    .jumbotron .display-4{
        color: #87BAFB;
        text-align: left;
        margin-top: 150px;
        font-weight: 200;
        font-size: 50px;
    }
   
    
    /* workingspace */
.judul-blog{
    font-family: Viga;
    font-size: 32px;
    padding-bottom: 5px;
    color: #537D6F;
    padding-top: 25px;
}
.deskripsi-blog{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #537D6F;
    padding-bottom: 30px;
   
}
.card-body p{
    font-family:'Quicksand', sans-serif !important;
     color: #537D6F !important; 
     font-size: 14px !important;
     font-weight: normal;
}

.card-body a{
    font-family:'Quicksand', sans-serif;
    font-size: small;
}
.text-muted{
    font-family: 'Quicksand', sans-serif;
    font-size: medium;
    padding-top: 12px;
    font-weight: lighter;
}
.project{
    margin-top: 40px;
    text-align: left;
    
}
.project p{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #537D6F;
    font-weight: 200;
    margin: 30px 0;

}
.project h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #537D6F;
    font-weight: bold;
    margin: 30px 0;
    padding-top: 14px;

}
.card-body h5{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #537D6F;
    font-weight: bold;
}

.card-body p{
    font-family:'Quicksand', sans-serif !important;
     color: #537D6F !important; 
     font-size: 14px !important;
     font-weight: normal;
}
.sosmed{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 50px;
   
}
.icons li{
position: relative;
list-style: none;
display: inline-flex;
margin: 0 10px;
height: 70px;
width: 70px;
background:  #9EBAB7;
border-radius: 50%;
cursor: pointer;
box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
              -2px -2px 6px rgba(0, 0, 0, 0.8);

}
.icons li.active a{
color: #ffffff;
font-size: 25px;

}
.icons li.active:before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 55px;
    width: 55px;
    background: #9EBAB7;
    border-radius: 50%;
    box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
                 inset 2px 2px 6px rgba(0, 0, 0, 0.8);

}
.icons li a{
    color: #ffffff;
    font-size: 27px;
    width: 100%;
    line-height: 70px;
    position: relative;
    z-index: 2;

}


/* end workingspace */
 }
